@font-face {
    font-family: 'Grtsk Giga';
    src: local('Grtsk Giga Bold'), local('Grtsk-Giga-Bold'),
        url('@/assets/fonts/Grtsk/GrtskGiga-Bold.woff2') format('woff2'),
        url('@/assets/fonts/Grtsk/GrtskGiga-Bold.woff') format('woff'),
        url('@/assets/fonts/Grtsk/GrtskGiga-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }